<!-- Display GoatCounter pageviews -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const pageviews = document.getElementById('pageviews');

    if (pageviews !== null) {
      const uri = location.pathname.replace(/\/$/, '');
      const url = `https://{{ site.analytics.goatcounter.id }}.goatcounter.com/counter/${encodeURIComponent(uri)}.json`;

      try {
        let request = new XMLHttpRequest();

        request.addEventListener('load', function() {
          pageviews.innerText = JSON.parse(this.responseText).count;
        })
        
        request.open('GET', url);
        request.send();
      } catch (error) {
        pageviews.innerText = 'Unknown';
      }
    }
  });
</script>