<!--
  USAGE:
  ADD TO MARKDOWN POST'S FRONT MATTER VARIABLES

  tabs_data:
    - title: TITLE
      content: CONTENT

  EXAMPLE:

  tabs_data:
    - title: Paris
      content: Paris is the capital of France.
    - title: Tokyo
      content: Tokyo is the capital of Japan.
    - title: Amsterdam
      content: Amsterdam is the capital of the Netherlands.
-->

<div class="tab-container" id="{{ include.id }}">
  <div class="tab">
    {% for tab in include.tabs %}
      <button style="width: calc(100% / {{ include.tabs.size }})" class="tablinks" data-target="{{ include.id }}-tab{{ forloop.index0 }}">
        {{ tab.title }}
      </button>
    {% endfor %}
  </div>

  {% for tab in include.tabs %}
    <div id="{{ include.id }}-tab{{ forloop.index0 }}" class="tabcontent">
      {{ tab.content | markdownify }}
    </div>
  {% endfor %}
</div>
