@use '../abstracts/variables' as v;
@use '../abstracts/placeholders';

#graph-container {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

#graph-legend {
  display: block;
  margin-bottom: v.$code-dot-gap;

  .graph-legend-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: v.$code-dot-gap;
  }

  .graph-legend-item {
    display: inline-flex;
    align-items: center;
    gap: v.$code-dot-gap;
    //padding: 6px 10px;
    background: transparent;
    border-radius: v.$radius-sm;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    font-size: 13px;

    &:hover {
      background: rgba(0, 0, 0, 0.03);
    }

    // dimmed state when not selected
    &:not(.selected) {
      opacity: 0.35;
    }
  }

  .legend-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    flex: 0 0 auto;
  }

  .legend-label {
    text-transform: capitalize;
  }
}

.graph-tooltip {
  position: absolute;
  text-align: center;
  padding: v.$code-dot-gap;
  font-size: 13px;
  background: var(--card-bg);
  border: 1px solid var(--bs-card-border-color);
  border-radius: v.$radius-sm;
  box-shadow: var(--card-shadow);
  pointer-events: none;
  color: var(--heading-color);
  max-width: v.$sidebar-width;
  z-index: 1000;
}

.node {
  text {
    pointer-events: none;
    font-size: 12px;
    fill: var(--graph-label-color);
    text-anchor: middle;
  }

  circle {
    cursor: pointer;
    fill: var(--graph-node-color);
    transition: all 0.15s ease-in-out;

    &:hover {
      fill: var(--graph-node-hover-color);
    }

    &:active {
      fill: var(--graph-node-drag-color);
    }

    &.graph-node--default {
      --graph-node-color: var(--graph-node-color-default);
      --graph-node-hover-color: var(--graph-node-hover-color-default);
      --graph-node-drag-color: var(--graph-node-drag-color-default);
    }

    &.graph-node--article {
      --graph-node-color: var(--graph-node-color-article);
      --graph-node-hover-color: var(--graph-node-hover-color-article);
      --graph-node-drag-color: var(--graph-node-drag-color-article);
    }

    &.graph-node--guide {
      --graph-node-color: var(--graph-node-color-guide);
      --graph-node-hover-color: var(--graph-node-hover-color-guide);
      --graph-node-drag-color: var(--graph-node-drag-color-guide);
    }

    &.graph-node--transcript {
      --graph-node-color: var(--graph-node-color-transcript);
      --graph-node-hover-color: var(--graph-node-hover-color-transcript);
      --graph-node-drag-color: var(--graph-node-drag-color-transcript);
    }

    &.graph-node--write-up {
      --graph-node-color: var(--graph-node-color-write-up);
      --graph-node-hover-color: var(--graph-node-hover-color-write-up);
      --graph-node-drag-color: var(--graph-node-drag-color-write-up);
    }
  }
}