---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

@use '../../_sass/abstracts/placeholders';
@use '../../_sass/abstracts/variables' as v;

:root {
  --dot-size: 15px;
  --arrow-padding: 16px;
  --gallery-padding: 5px;
  --dot-height: calc(2 * (var(--gallery-padding) + var(--dot-size))); // 40px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border-radius: v.$radius-lg v.$radius-lg 0 0;
  border: 1px solid var(--btn-border-color);
  background-color: var(--highlight-bg-color);
  
  /* Style the buttons inside the tab */
  button {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: var(--link-color);

    /* Change background color of buttons on hover */
    &:hover {
      background-color: var(--bs-primary);
      color: white;
    }

    /* Create an active/current tablink class */
    &.active {
      background-color: var(--bs-primary);
      color: white;
    }
  }
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-radius: 0 0 v.$radius-lg v.$radius-lg;
  background-color: var(--card-bg);
  border: 1px solid var(--btn-border-color);
  border-top: none;
  
  p, pre, h4 {
    margin: 0;
  }
}

/* Style 'Not by AI' badge in footer */
#not-ai {
  width: 6.25rem;
  height: auto;
}

/* Remove default link `<a>` styling (underline on hover) */
#not-ai, .prev, .next {
  border-bottom: none !important;
  text-decoration: none !important;
}

/* Slideshow gallery style */
img, .content a.popup {
  width: 100%;
}

#caption, .prev, .next, .content a.popup {
  margin: 0;
}

.slides a.popup img {
  border-radius: v.$radius-lg v.$radius-lg 0 0;
}

.gallery-container {
  position: relative;
  background: var(--highlight-bg-color);
  border: 1px solid var(--language-border-color);
  color: var(--code-color);
  border-radius: v.$radius-lg;
}

/* Hide images by default */
.slides {
  display: none;

  img {
    width: 100vw;
  }
}

.slide-preview, .prev, .next, .dot {
  cursor: pointer;
}

.arrows {
  display: flex;
  align-items: center;
  z-index: 9; // Make sure > #caption z-index
}

#caption, .slide-index {
  color: var(--text-color);
}

.prev,
.next {
  position: absolute;
  color: var(--link-color);
  width: auto;
  padding: var(--arrow-padding);
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  transition: all .35s ease-in-out;
  -webkit-user-select: none;

  &:hover {
    transition: all .35s ease-in-out;
    color: white;
    text-shadow: none;
    background-color: var(--bs-link-color);
  }
}

.next {
  right: 0;
  border-radius: v.$radius-sm 0 0 v.$radius-sm;
}

.prev {
  left: 0;
  border-radius: 0 v.$radius-sm v.$radius-sm 0;
}

.slide-index {
  @extend %text-xs;
  padding: calc(var(--arrow-padding) / 2); //8px;
  position: absolute;
  top: 0;
}

.slideshow {
  display: flex;
  border-bottom: 1px solid var(--language-border-color);
}

#caption, .img-dot, .prev, .next {
  text-align: center;
}

.img-dot {
  padding: var(--gallery-padding) 0;
  height: var(--dot-height); 
}

.slide-index, .prev, .next, #caption {
  text-shadow: 0 0 1px var(--code-header-muted-color);
}

#caption {
  max-height: calc(100% - var(--dot-height));
  padding: var(--gallery-padding) var(--dot-height);
  overflow: auto;
  width: 100%;
  position: absolute;
  align-self: flex-end;
}

.gallery {
  /* Thumbnail images (temporarily hidden while debugging) */
  &-row {
    display: none // flex;
    // justify-content: center;
  }

  &-column {
    align-self: center;
  }

  &-row &-column {
    height: 100%;
  }
}

/* Add a transparency effect for thumnbail images */
.slide-preview {
  opacity: 0.6;
}

.active,
.slide-preview:hover {
  opacity: 1;
}

.dot {
  height: var(--dot-size);
  width: var(--dot-size);
  margin: 0 2px;
  background-color: var(--link-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active_dot,
.dot:hover {
  background-color: var(--bs-link-color);
}

/* Link preview on hover */
.link-previews {
  position: absolute;
  z-index: 1000;
  background: var(--card-bg);
  border: 1px solid var(--bs-card-border-color);
  border-radius: 10px;
  max-width: 450px;
  //min-width: 50px;
  //max-height: 300px;
  box-shadow: var(--card-shadow);
  pointer-events: auto;
  transition: opacity 0.2s ease-in-out;
  padding: 20px;
  overflow: hidden;
  text-overflow: ellipsis;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 1001;
    pointer-events: none;
    background-image: linear-gradient(to bottom, transparent, var(--card-bg) 90%);
  }

  .preview-title {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--heading-color);
    font-family: Lato,"Microsoft Yahei",sans-serif;
    line-height: 1.3;    
  }

  .preview-description {
    font-size: 0.9em;
    margin-bottom: 8px;
    color: var(--text-color);
    font-family: Lato,"Microsoft Yahei",sans-serif;
    line-height: 1.5;
  }
  
  .preview-excerpt {
    font-size: 0.85em;
    color: var(--text-muted-color);
    line-height: 1.5;
  }
  
  .preview-loading {
    color: var(--text-muted-color);
    font-style: italic;
    margin: 0;
  }
}