---
---

@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */
/* Style the tab */
.tab {
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid var(--btn-border-color);
  background-color: var(--highlight-bg-color);
  
  /* Style the buttons inside the tab */
  button {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;

    /* Change background color of buttons on hover */
    &:hover {
      background-color: var(--bs-primary);
      color: white;
    }
  }
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--bs-primary);
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--card-bg);
  border: 1px solid var(--btn-border-color);
  border-top: none;
  p {
    margin: 0;
  }
}